<%= link_to expenditure_path(expenditure.id), class:'w-100' do %>
<div id="<%= dom_id expenditure %>" class="card w-100">
  <div class='d-flex justify-content-between'>
    <span class="text-secondary">
      <%= expenditure.name %>
    </span>
    <span class='fw-bold text-dark'>
      <%= expenditure.amount %>$
    </span>
  </div>
  <div class='font-size-08 text-secondary'>
    <%= expenditure.created_at.strftime('%d %b %Y')%>
  </div>
</div>
<%end%>