<p style="color: green"><%= notice %></p>

<%= render @transaction %>

<div>
  <%= link_to "Edit this expenditure", edit_transaction_path(@expenditure) %> |
  <%= link_to "Back to expenditures", transactions_path %>

  <%= button_to "Destroy this expenditure", @expenditure, method: :delete %>
</div>
