<p style="color: green"><%= notice %></p>

<%= render @transaction %>

<div>
  <%= link_to "Edit this expenditure", edit_transaction_path(@transaction) %> |
  <%= link_to "Back to expenditures", transactions_path %>

  <%= button_to "Destroy this expenditure", transaction_path(@transaction.id), method: :delete %>
</div>
