<!DOCTYPE html>
<html>
  <head>
    <title>BudgetAppRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class='vh-100 d-flex flex-column'>  
    <%= render 'layouts/nav' %>
    <main class='px-3 px-sm-5 d-flex align-items-center flex-column flex-grow-1'>
    <%= yield %>
    </main>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>  
  </body>
</html>
